<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />

  <title>Brandon Weiss, Product Engineer</title>

  <%= javascript_include_tag "index" %>
  <%= stylesheet_link_tag "index", media: "all" %>

  <meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>

<body>
  <header>
    <h1>
      Hi, I’m Brandon, a product engineer in San Francisco.
    </h1>

    <div class="chevrons">
      <%= partial "feather/chevrons-down" %>
    </div>
  </header>

  <main>
    <ol class="works list-reset">
      <% data.work.companies.each do |company| %>
        <li>
          <% if company.url %>
            <% link_to company.url, class: "work-link" do %>
              <%= partial("card", locals: { datum: company }) %>
            <% end %>
          <% else %>
            <%= partial("card", locals: { datum: company }) %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <%= spacer "5rem" %>

    <h2 class="work-type">Projects</h2>

    <%= spacer "2rem" %>

    <ol class="works list-reset">
      <% data.work.projects.each do |project| %>
        <li>
          <% link_to project.url, class: "work-link" do %>
            <%= partial("card", locals: { datum: project }) %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <%= spacer "5rem" %>

    <h2 class="work-type">Open-source</h2>

    <%= spacer "2rem" %>

    <ol class="works list-reset">
      <% data.work.open_source.each do |open_source| %>
        <li>
          <% link_to open_source.url, class: "work-link" do %>
            <%= partial("card", locals: { datum: open_source }) %>
          <% end %>
        </li>
      <% end %>
    </ol>

    <%= spacer "8rem" %>

    <ul class="list-reset links">
      <li>
        <%= link_to partial("feather/twitter"), "https://twitter.com/brandon_weiss", class: "link" %>
      </li>

      <li>
        <%= link_to partial("feather/instagram"), "https://instagram.com/brandonweiss/", class: "link" %>
      </li>

      <li>
        <%= link_to partial("feather/github"), "https://github.com/brandonweiss", class: "link" %>
      </li>

      <li>
        <%= mail_to "brandon@anti-pattern.com", partial("feather/mail"), class: "link" %>
      </li>
    </ul>
  </main>

  <%= spacer "4rem" %>

  <%= partial "tracking" if environment?(:production) %>
</body>
</html>
