<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />

  <title>Brandon Weiss, Product Craftsman</title>

  <%= stylesheet_link_tag 'home', '//fonts.googleapis.com/css?family=Raleway:200,400', media: 'all' %>

  <meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>

<body>
  <header class="header group">
    <div class="wrapper group">
      <div class="avatar-column">
        <div class="avatar">
          <%= image_tag 'avatar.png' %>
        </div>
      </div>

      <div class="bio-column">
        <h1 class="name">Brandon Weiss</h1>

        <p class="bio">
          Product Craftsman. Maker of things. Obsessed with building great
          products. Mines rubies all day long, then cuts them into beautiful
          gems. Lives for white sand, blue water. Surfer.
        </p>

        <ul class="links">
          <li class="link"><a href="http://anti-pattern.com" class="ss-rss"><span>Blog</span></a></li>
          <li class="link"><a href="http://twitter.com/brandon_weiss" class="ss-twitter"><span>Twitter</span></a></li>
          <li class="link"><a href="http://github.com/brandonweiss" class="ss-octocat"><span>GitHub</span></a></li>
          <li class="link"><a href="https://dribbble.com/brandon_weiss" class="ss-dribbble"><span>Dribbble</span></a></li>
          <li class="link"><a href="http://www.rdio.com/people/brandonweiss" class="ss-rdio"><span>Rdio</span></a></li>
          <li class="link"><a href="http://letterboxd.com/brandonweiss/" class="ss-letterboxd"><span>Letterboxd</span></a></li>
          <li class="link"><a href="http://pinterest.com/brandonweiss" class="ss-pinterest"><span>Pinterest</span></a></li>
          <li class="link"><a href="http://facebook.com/brandon.weiss" class="ss-facebook"><span>Facebook</span></a></li>
          <li class="link"><a href="mailto:brandon@anti-pattern.com" class="ss-mail"><span>Email</span></a></li>
        </ul>
      </div>
    </div>

    <div class="notch"></div>
  </header>

  <section class="work group">
    <div class="wrapper">
      <ol class="projects">
        <li class="project">
          <a href="https://canaryup.com">
            <%= image_tag 'projects/canary@2x.png' %>
            <div class="name">Canary</div>
          </a>
        </li>

        <li class="project">
          <a href="http://arrival.io">
            <%= image_tag 'projects/arrival@2x.png' %>
            <div class="name">Arrival</div>
          </a>
        </li>

        <li class="project">
          <a href="/founderscard">
            <%= image_tag 'projects/founderscard@2x.png' %>
            <div class="name">FoundersCard Safari Extension</div>
          </a>
        </li>

        <li class="project">
          <a href="http://www.sqoot.com">
            <%= image_tag 'projects/sqoot@2x.png' %>
            <div class="name">Sqoot</div>
          </a>
        </li>
      </ol>
    </div>
  </section>

  <section class="blog">
    <div class="wrapper">
      <div class="group">
        <h2 class="title"><%= latest_post_title %></h2>
        <span class="date"><%= latest_post_date %></span>
      </div>

      <div class="body"><%= latest_post_body %></div>
    </div>
  </section>

  <footer class="footer">
    <div class="wrapper group">
      <a class="call-to-action" href="http://anti-pattern.com">Read more on <b>Anti-pattern</b></a>

      <a href="https://twitter.com/brandon_weiss" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @brandon_weiss</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </footer>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4d63cbd0a219863d81000002');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
